<p id="notice"><%= notice %></p>

<h1>Photo Catagories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @photo_catagories.each do |photo_catagory| %>
      <tr>
        <td><%= photo_catagory.name %></td>
        <td><%= link_to 'Show', photo_catagory %></td>
        <td><%= link_to 'Edit', edit_photo_catagory_path(photo_catagory) %></td>
        <td><%= link_to 'Destroy', photo_catagory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Photo Catagory', new_photo_catagory_path %>
