

<div class="container">
  <%= form_tag charges_path do %>
    <article>
      <% if flash[:error].present? %>
        <div id="error_explanation">
          <p><%= flash[:error] %></p>
        </div>
      <% end %>
 <h2> Total Price: <%= number_to_currency (@cart.total_price) %> </h2>

      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-description="Photographic Prints"
              data-amount="<%= @cart.total_price * 100 %>"
              data-locale="auto"></script>

  <% end %>

  <%= link_to 'Empty cart', @cart, method: :delete,
  data: {confirm: 'Are you sure?'}, class: "btn btn-danger" %>
</div>
