<p id="notice"><%= notice %></p>
<%= content_for :header_photo, @photograph.image %>


<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading"><%= @photograph.title %></h1>
                    <p class="intro-text"><%= @photograph.descritpion %><br>By Joel Davison</p>
                </div>
                <div class="col-md-4">

                  <p> Buy a small print for <%= @photograph.price %>
                </div>
            </div>
        </div>
    </div>
</header>



<!-- <p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @photograph.title %>
</p>

<p>
  <strong>Image:</strong>
  <%= @photograph.image %>
</p>

<p>
  <strong>Descritpion:</strong>
  <%= @photograph.descritpion %>
</p>

<p>
  <strong>Active:</strong>
  <%= @photograph.active %>
</p>

<p>
  <strong>Is cover:</strong>
  <%= @photograph.is_cover %>
</p>

<p>
  <strong>Order:</strong>
  <%= @photograph.order %>
</p>

<p>
  <strong>Price:</strong>
  <%= @photograph.price %>
</p>

<p>
  <strong>Photo catagory:</strong>
  <%= @photograph.photo_catagory %>
</p>

<%= link_to 'Edit', edit_photograph_path(@photograph) %> |
<%= link_to 'Back', photographs_path %> -->
